$primary-icon-color: #ffffff;

.nav-bar {
  background: rgb(0, 0, 0);
  width: 8rem;
  height: 100%;
  position: absolute;
  top: 0%;
  z-index: 2;
  min-height: 25rem;
  text-align: center;

  .logo {
    display: block;
    padding: 1rem 0;

    img {
      display: block;
      position: absolute;
      top: 0%;
      margin: 0rem;
      width: 100%;
      height: auto;
    }
  }

  nav {
    display: block;
    position: absolute;
    text-align: center;
    height: 10rem;
    top: 50%;
    margin-top: -8rem;
    width: 100%;

    a {
      font-size: 1.5rem;
      color: $primary-icon-color;
      display: block;
      line-height: 2rem;
      position: relative;
      text-decoration: none;
      margin: 1.2rem;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: yellow;

        svg {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }
      }

      &::after {
        content: '';
        font-size: 1.1rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }

      &:first-child {
        &::after {
          content: 'HOME';
        }
      }
    }

    a.about-link {
      &::after {
        content: 'ABOUT';
      }
    }

    a.contact-link {
      &::after {
        content: 'CONTACT';
      }
    }

    a.active {
      svg {
        color: yellow;
      }
    }
  }

  ul {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
      a {
        padding: 1rem;
        display: block;
        font-size: 1.5rem;
        line-height: 1rem;
        color: $primary-icon-color;

        &:hover {
          svg {
            color: yellow;
          }
        }
      }
    }
  }
}
