<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>
  <div class="container">
    <h1 class="m-3">About</h1>
    <h5>Your path to becoming a Blogger!</h5>
    <p class="m-3" style="text-align: center">This is a smaple website built to learn the node js concepts.</p>
    <p class="m-3">It is built by following the tutorials of The Net Ninja. You can check out the playlist by clicking this link
      <a href="https://www.youtube.com/playlist?list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU">The Net Ninja - Node.js Crash Course Tutorial</a>
    </p>
    <div class="about-image p-2 mb-5">
      <img src="/thenetninja_nodejs.png" class="about-img" alt="The Net Ninja - Node.js Crash Course Tutorial">
    </div>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>

</html>