<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>
  <div class="container">
    <%- include('./partials/blogs_content.ejs') %>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>

</html>