<div class="blogs-content">
  <div class="blog">
    <h2 class="blog-title"> <%= blog.title %>
      <span class="blog-item">
        <a class="delete-btn" data-doc="<%= blog._id %>">
          <span class="material-symbols-outlined">delete</span>
        </a>
      </span>
    </h2>
    <p class="blog-body"> <%= blog.body %> </p>
  </div>
</div>