<footer class="blog-footer text-white bg-dark p-2">
  <p>Blog template built for <a class="footer-a" href="https://getbootstrap.com/">Bootstrap</a> by <a class="footer-a" href="https://twitter.com/mdo">@mdo</a>.</p>
</footer>