<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand brand-name" href="/"> myblog </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID" aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarID">
      <div class="navbar-nav">
        <a class="nav-link <%= tab_stats.tab_home %> " aria-current="page" style="font-weight: 500;" href="/">Home</a>
        <a class="nav-link <%= tab_stats.tab_about %> " aria-current="page" style="font-weight: 500;" href="/about">About</a>
        <a class="nav-link <%= tab_stats.tab_create %> " aria-current="page" style="font-weight: 500;" href="/blog/create">Blog it</a>
        <a class="nav-link <%= tab_stats.tab_blogs %> " aria-current="page" style="font-weight: 500;" href="/blogs">Blogs</a>
      </div>
    </div>
</nav>