$contact-primary-color: rgb(62, 0, 121);
$contact-secondary-color: rgb(255, 107, 193);

.container {
  padding: 2rem;
  margin: 1rem;
  width: 100%;
  height: 90%;
  min-height: 30rem;
  position: absolute;
  opacity: 0;
  top: 5%;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 0.5s forwards;
  animation-delay: 0.5s;
}

.contact-page {
  color: yellow;

  h1 {
    font-size: 3rem;
    margin: 1rem;
    padding: 1rem;

    &::before {
      content: '<h1>';
      font-size: 1.3rem;
      position: absolute;
      left: 5%;
      margin: -1rem;
      font-family: 'Dancing Script', cursive, sans-serif;
      font-weight: 400;
    }

    &::after {
      content: '</h1>';
      font-size: 1.3rem;
      position: absolute;
      bottom: 78%;
      left: 3%;
      font-family: 'Dancing Script', cursive, sans-serif;
      font-weight: 400;
    }
  }

  h2 {
    font-size: 2rem;
    margin: 1rem;
    margin-bottom: 3rem;
    letter-spacing: 0.5rem;
  }

  p {
    margin: 2rem 1rem;
    font-weight: 500;
    color: white;
    min-width: fit-content;
    animation: pulse 1s;

    &:nth-of-type(1) {
      animation-delay: 1.1s;
    }
    &:nth-of-type(2) {
      animation-delay: 1.3s;
    }
    &:nth-of-type(3) {
      animation-delay: 1.5s;
    }
  }

  .text-animate-hover {
    &:hover {
      color: white;
    }
  }

  .contact-form {
    width: 100%;
    display: flex;

    ul {
      padding: 0;
      margin: 0;

      .f-row {
        display: flex;
        flex-direction: row;
        margin: 0;
      }

      .s-row {
        display: flex;
        flex-direction: column;
        margin: 0;
      }

      li {
        margin: 0.5rem;
        padding: 0;
        list-style: none;
        overflow: hidden;
        opacity: 0;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
        position: relative;
      }

      li.half {
        width: 49%;
      }
    }

    .submit-button {
      margin: 0.3rem;
      background: $contact-primary-color;
      border: 0.15rem yellow solid;
      padding: 0.5rem;
      //color: $contact-secondary-color;
      color: yellow;
      border-radius: 1rem;
      z-index: 0;

      &:hover {
        box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        z-index: 1;
        //  background: gold;
        //  font-weight: 550;
        //  color: $contact-primary-color;
        //  border: 0.2rem $contact-primary-color solid;
      }
      &:active {
        box-shadow: 0 0.2rem 2rem 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transform: translate(0rem, 0.2rem);
        transition: ease-in-out 0.7s;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    background-color: $contact-primary-color;
    border: 0.15rem yellow solid;
    padding: 0.7rem;
    color: white;
    border-radius: 1rem;

    &:focus {
      border: 0.2rem $contact-secondary-color solid;
      z-index: 1;
      outline: none;
      color: black;
      background-color: white;
    }
  }

  textarea {
    width: 100%;
    background-color: $contact-primary-color;
    border: 0.15rem yellow solid;
    padding: 0.7rem;
    color: white;
    outline: none;
    border-radius: 1rem;

    &:focus {
      border: 0.2rem $contact-secondary-color solid;
      z-index: 1;
      outline: none;
      color: black;
      background-color: white;
    }
  }
}


