.dropdown {
  display: none;
}

.dropdown.show {
  display: inline;
  position: absolute;
  border: 1px solid black;
  padding: 0.3rem;
  border-radius: 0.6rem;
  width: 10rem;
}

.dropdown.show {
  .custom-ul {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .custom-li {
    padding: 0.3rem;
    border-radius: 0.3rem 0.3rem 0 0;
    border-bottom: 1px solid black;
    &:hover {
      background-color: beige;
    }
  }
}

.myLinks {
  position: relative;
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav {
  border-bottom: 2px solid orange;
}
