<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>
  <div class="container">
    <h1 class="m-3">Welcome to myblog</h1>
    <h5>Your path to becoming a Node.js ninja!</h5>
    <%- include('./partials/blogs_content.ejs') %>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>

</html>